*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position-x: right;
}

.main
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    /* border: 1px solid white; */
}

.navbar
{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 3px solid red; */
}

.nav ul
{
    list-style-type: none;
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.nav li
{
    float: left;
    margin-left: 50px;   
    /* border: 2px solid yellow;     */
}

.crew
{
    text-decoration-line: underline;
    text-underline-offset: 40px;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
}

.line
{
    width: 500px;
    max-width: 500px;
    z-index: 2;
    overflow: visible;
    margin-left: 30px;
}

.line hr
{
    width: 520px;
}

.blur
{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
    width: 70%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.nav a
{
    color: white;
    text-decoration: none;
}

.nav
{
    margin-left: 10%;
}

.logo
{
    align-items: center;
    margin-top: 5px;
}

.content
{
    display: flex;
    flex-direction: row;
}

.left  
{
    display: flex;
    flex-direction: column;
}

.heading1
{
    margin-top: 7rem;
    margin-left: 10rem;
    color: white;
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    font-weight: bold;
}

.meet
{
    color: #D0D6F9;
    /* font-weight: bold; */
}

.heading2
{
    color: rgb(208, 214, 249, 0.52);
    font-size: 32px;
    font-family: 'Bellefair', serif;
    margin-top: 6rem;
    margin-left: 10rem;
    
}

.heading3
{
    color: white;
    font-size: 56px;
    font-family: 'Bellefair', serif;
    margin-left: 10rem;
    margin-top: 2rem;
}

.text
{
    color: #D0D6F9;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 28rem;
}

.crewselect
{
    margin-top: 6rem;
    margin-left: 10rem;
}

.crewpage1
{
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}

.crewpage
{
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    background-color: #D0D6F9;
}

.crewpage:hover
{
    background-color: white;
}


.douglas
{
    margin-top: 7rem;
    margin-left: 10rem;
    width: 400px;
    height: 550px;
} 

.hover:hover {
    text-decoration: underline;
    text-decoration-color: #D0D6F9;
    text-underline-offset: 40px;
    text-decoration-thickness: 3px;
}